[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

lark-parser = { git = "https://github.com/erezsh/lark.git" }


[dev-packages]

twine = "*"
readme-renderer = "*"


[requires]

python_version = "3.6"
